{{ define "main" }}
{{ $desc := "" }}
<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-no-background">
        {{ $paginator := .Paginate (where .Pages "Type" "posts") }}
        {{ range $paginator.Pages }}
        {{ if eq .Type "posts" }}
        {{ $desc = "" }}
        {{ if .Params.summary }}
        {{ $desc = .Params.summary }}
        {{ else if .Params.abstract }}
        {{ $desc = .Params.abstract }}
        {{ else if .IsPage }}
        {{ $desc = .Summary }}
        {{ else if site.Params.description }}
        {{ $desc = site.Params.description }}
        {{ else }}
        {{ $desc = .Description }}
        {{ end }}
        {{if and (.IsPage) (.Params.date)}}
        <a href="{{.Permalink}}" class="a-block">
            <div class="post-item-wrapper">
                <article class="post-item post-item-no-divider">
                    <div class="post-item-info-wrapper">
                        <header class="post-item-title">
                            <h1>{{.Title}}</h1>
                            {{ with .Params.subtitle }}
                            <p class="lead">{{ . }}</p>
                            {{ end }}
                        </header>
                        <div class="post-item-summary">
                            {{$desc}}
                        </div>
                        <div class="post-item-meta">
                            <span class="reading-time">
                                {{ partial "svg" (dict "iconName" "clock" "size" "18px")}}
                                <span>{{ .ReadingTime }} {{ "minute" | pluralize }}</span>
                            </span>

                            <time class="datePublished">
                                {{ partial "svg" (dict "iconName" "calendar" "size" "18px")}}
                                <span>{{ .PublishDate.Format "January 2, 2006" }}</span>
                            </time>
                        </div>
                    </div>
                    {{ $featured_image := .Params.featured_image }}
                    {{ if $featured_image }}
                    <div class="post-item-image-wrapper">
                        <div class="post-item-image"
                             style="background-image: url('{{$featured_image | relLangURL }}')"></div>
                    </div>
                    {{ end }}
                </article>
            </div>
            {{ end }}
            {{ end }}
            {{ end }}
        </a>
    </div>
</div>
{{ end }}
